block variables
include mixins/_icons
include mixins/_photo-albums-item
include mixins/_my-albums-item

doctype html
html
  head
    include common/_head
  body
    .site-wrapper
      header.header#header
      .page-wrap
        include frontend/preloader
        a.links(href='/album') Альбом
        a.links(href='/user') Пользователь
        a.links(href='/search') Поиск
        div.content#content
          block content
      include common/_footer
