block variables
include mixins/_icons
include mixins/_photo-albums-item
include mixins/_my-albums-item

doctype html
html
  head
    include common/_head
  body
    .site-wrapper
      include common/_header
      .page-wrap
        div.content
          block content
      include common/_footer
