include ../mixins/_icons

section.photo-albums
  .photo-albums__inner-wrapper
    .photo-albums__list
      a(class="my-albums-button" href="#")
        +icon('add', ['my-albums-button-icon', 'my-albums-button-icon_add'])