include ../mixins/_icons

section.photo-albums
  .photo-albums__inner-wrapper
    a(class="button-circle button-circle--add" href="#" )
      +icon('add', ['button-circle-icon', 'button-circle-icon--add'])
      span.button-circle--text Добавить
    .photo-albums__list
      