include ../mixins/_icons

section.photo-albums
  .photo-albums__inner-wrapper
    h2.section-title Новое в мире
    .photo-albums__list
    a(href="#" class="button button--outline button--outline-albums") Показать еще
section.my-albums
  .my-albums__inner-wrapper
    h2.section-title Мои альбомы
    a(class="button-circle button-circle--add" href="#")
      +icon('add', ['button-circle-icon', 'button-circle-icon--add'])
      span.button-circle--text Добавить
    .my-albums__list