section.photo-albums
  .photo-albums__inner-wrapper
    h2.section-title.section-title--search
      | По запросу «
      span.search-query
      |» найдено
      span.count-photos __
      |  результатов
    .photo-albums__list