header.header
  .header-wrapper
    .header-inner-wrapper
      .header-top
        .profile
          .profile__photo
            img(class="profile__img" src=`${headerAvatar}` alt="#{headerNameAvatar}")
          .profile__info
            h1.profile__name #{headerName}
            p.profile__description #{headerInfo}
            .profile__social
              ul.social-list
                li.social-list__item
                  a(class="social-list__link" href="#")
                    +icon('soc_vk', ['social-icon', 'social-icon_vk'])
                li.social-list__item
                  a(class="social-list__link" href="#")
                    +icon('soc_fb', ['social-icon', 'social-icon_fb'])
                li.social-list__item
                  a(class="social-list__link" href="#")
                    +icon('soc_twitter', ['social-icon', 'social-icon_twitter'])
                li.social-list__item
                  a(class="social-list__link" href="#")
                    +icon('social_google', ['social-icon', 'social-icon_google'])
                li.social-list__item
                  a(class="social-list__link" href="#")
                    +icon('soc_email', ['social-icon', 'social-icon_email'])
        .profile-buttons
          a(class="button-circle button-circle--edit" href="#")
            +icon('edit', ['button-circle-icon', 'button-circle-icon--edit'])
            span.button-circle--text Редактировать
          a(class="button-circle button-circle--login" href="#")
            +icon('off', ['button-circle-icon', 'button-circle--off'])
            span.button-circle--text Выйти
    .search-bar
      .search-bar__inner-wrapper
        form(id="search" class="search__form")
          input(type="search" class="search__field" placeholder="Исследовать мир")
          +icon('search', ['search__icon'])