include ../mixins/_icons

.header__wrapper
  .header__inner-wrapper
    .header__top
      .profile
        .profile__photo
          img(class="profile__img" src="./assets/img/cherepov_anton.jpg" alt="Антон Черепов")
        .profile__info
          h1.profile__name Антон Черепов
          p.profile__description Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
          .profile__social
            ul.social-list
              li.social-list__item
                a(class="social-list__link" href="#")
                  +icon('soc_vk', ['social-icon', 'social-icon_vk'])
              li.social-list__item
                a(class="social-list__link" href="#")
                  +icon('soc_fb', ['social-icon', 'social-icon_fb'])
              li.social-list__item
                a(class="social-list__link" href="#")
                  +icon('soc_twitter', ['social-icon', 'social-icon_twitter'])
              li.social-list__item
                a(class="social-list__link" href="#")
                  +icon('social_google', ['social-icon', 'social-icon_google'])
              li.social-list__item
                a(class="social-list__link" href="#")
                  +icon('soc_email', ['social-icon', 'social-icon_email'])
      .profile__buttons
        .header__buttons-wrapper
          a(class="button-circle button-circle--home" href="/main")
            +icon('home', ['button-circle-icon', 'button-circle--home'])
            span.button-circle--text На главную
  .search-bar
    .search-bar__inner-wrapper
      form(id="search" class="search__form")
        input(type="search" class="search__field" placeholder="Исследовать мир")
        +icon('search', ['search__icon'])