include ../mixins/_icons

.header__wrapper.page_background
  .header__inner-wrapper
    form.header__top(method='post' action='/ajax/user/update')
      .profile
        .profile__photo
          img(class="profile__img" src= photo alt= name)
          .add-photo__info.add-photo__info--avatar
            .add-photo__info-icon
              +icon('cam')
            .add-photo__info-title Изменить фото
          input.profile__file(type="file" name="avatar" id="file-avatar" to_img='#header .profile__img')
          label.profile__label(for="file-avatar")

        .profile__info
          h1.profile__name(name='name' editor='text')= name
          p.profile__description(name='description' editor='text_tag')= description
          .profile__social
            ul.social-list
              li.social-list__item(name='vk' editor='social')
                a(class="social-list__link" href= vk)
                  +icon('soc_vk', ['social-icon', 'social-icon_vk'])
              li.social-list__item(name='fb' editor='social')
                a(class="social-list__link" href= fb)
                  +icon('soc_fb', ['social-icon', 'social-icon_fb'])
              li.social-list__item(name='twitter' editor='social')
                a(class="social-list__link" href= twitter)
                  +icon('soc_twitter', ['social-icon', 'social-icon_twitter'])
              li.social-list__item(name='google' editor='social')
                a(class="social-list__link" href= google)
                  +icon('social_google', ['social-icon', 'social-icon_google'])
              li.social-list__item(name='email' editor='social')
                a(class="social-list__link" href= "mailto:"+email)
                  +icon('soc_email', ['social-icon', 'social-icon_email'])
      .header__buttons-wrapper.header__buttons-wrapper--editor
        .add-photo__info.add-photo__info--header
          .add-photo__info-icon
            +icon('cam')
          .add-photo__info-title Изменить фон
          input.cover__file(type="file" name="background" id="file-cover" to_img='.page_background')
          label.cover__label(for="file-cover")

      .header__buttons-down
        button.button.button--transparent(class='header-edit__cancel') Отменить
        button.button(type='submit') Сохранить

    .profile__buttons
      .header__buttons-wrapper
        a(class="button-circle button-circle--edit" href="#")
          +icon('edit', ['button-circle-icon', 'button-circle-icon--edit'])
          span.button-circle--text Редактировать
        a(class="button-circle button-circle--login" href="#")
          +icon('off', ['button-circle-icon', 'button-circle--off'])
          span.button-circle--text Выйти

  .search-bar
    .search-bar__inner-wrapper
      form(id="search" class="search__form")
        input(type="search" class="search__field" placeholder="Исследовать мир")
        +icon('search', ['search__icon'])