include ../mixins/_icons

.header__wrapper.header__wrapper--search
  .header__inner-wrapper.header__inner-wrapper--search
    .header__top.header__top--search
      .header__top-title--search Исследуй мир
      .profile__buttons
        .header__buttons-wrapper.header__buttons-wrapper--search
          a(class="button-circle button-circle--home" href="/main")
            +icon('home', ['button-circle-icon', 'button-circle--home'])
            span.button-circle--text На главную
  .search-bar.search-bar--search
    .profile.profile--search
      .profile__photo.profile__photo--album(style=`background-image: url(/${photo})`)
      .profile__info.profile__info--album
        h1.profile__name.profile__name--album.profile__name--search= name
    form#search.search__form.search__form--search
      input.search__field.search__field--search(type="search" placeholder="Исследовать мир")
      +icon('search', ['search__icon'])
      ul.search__list
  h2.section-title.section-title--search
    | По запросу «
    span.search-query
    | » найдено
    span.count-photos __
    |  результатов
