include ../mixins/_icons

.header-wrapper.header-wrapper--search
  .header-inner-wrapper.header-inner-wrapper--search
    .header-top.header-top--search
      .header-top__title--search Исследуй мир
      .profile-buttons.profile-buttons--search
        a(class="button-circle button-circle--home" href="#")
          +icon('home', ['button-circle-icon', 'button-circle--home'])
          span.button-circle--text На главную
  .search-bar.search-bar--search
    .profile.profile--search
      .profile__photo.profile-album__photo
        img(class="profile__img" src="./assets/img/cherepov_anton.jpg" alt="Антон Черепов")
      .profile__info.profile-album__info
        h1.profile__name.profile-album__name.profile__name--search Антон Черепов
    form(id="search" class="search__form search__form--search")
      input(type="search" class="search__field search__field--search" placeholder="Исследовать мир")
      +icon('search', ['search__icon'])
      a.search__link(href='#') Показать новые