include ../mixins/_icons

.header__wrapper.page_background
  .header__inner-wrapper.header__inner-wrapper--album
    form.header__top.header__top--album(method='post' action='/ajax/album/update')
      input(type="hidden" name="id" value= _id)
      .profile.profile--album
        .profile__photo.profile__photo--album(style=`background-image: url(/${user.photo})`)
        .profile__info.profile__info--album
          h1.profile__name.profile__name--album= user.name
      .profile-album__text
        h1.profile-album__title(name='title' editor='text_tag')= title
        p.profile-album___description(name='description' editor='text_tag')= description

      if canEdit
        .header__buttons-wrapper.header__buttons-wrapper--editor
          .add-photo__info.add-photo__info--header
            .add-photo__info-icon
              +icon('cam')
            .add-photo__info-title Изменить обложку
            input.cover__file(type="file" name="cover" id="file-cover" to_img='.page_background')
            label.cover__label(for="file-cover")

        .header__buttons-down
          button.button.button--transparent(class='header-edit__cancel') Отменить
          button.button(type='submit') Сохранить

      .profile__buttons
        .header__buttons-wrapper.header__buttons-wrapper--album
          a(class="button-circle button-circle--home" href="/main")
            +icon('home', ['button-circle-icon', 'button-circle--home'])
            span.button-circle--text На главную
          if canEdit
            a(class="button-circle button-circle--edit" href="#")
              +icon('edit', ['button-circle-icon', 'button-circle-icon--edit'])
              span.button-circle--text Редактировать

    .search-bar.search-bar--album
      .search-bar__inner-wrapper.search-bar__inner-wrapper--album
        ul.search-bar__list
          li.search-bar__item
            .search-bar__number.count-photos
            .search-bar__text Фотографий
          li.search-bar__item
            .search-bar__number.count-likes
            .search-bar__text Лайков
          li.search-bar__item
            .search-bar__number.count-comments
            .search-bar__text Комментария