include ../mixins/_icons

.header__wrapper.page_background
  .header__inner-wrapper
    .header__top
      .profile
        .profile__photo.profile__photo--user-page(style='background-image: url('+'/'+photo+')')
        .profile__info
          h1.profile__name= name
          p.profile__description= description
          .profile__social
            ul.social-list
              li.social-list__item
                a(class="social-list__link" target='_blank' href= vk)
                  +icon('soc_vk', ['social-icon', 'social-icon_vk'])
              li.social-list__item
                a(class="social-list__link" target='_blank' href= fb)
                  +icon('soc_fb', ['social-icon', 'social-icon_fb'])
              li.social-list__item
                a(class="social-list__link" target='_blank' href= twitter)
                  +icon('soc_twitter', ['social-icon', 'social-icon_twitter'])
              li.social-list__item
                a(class="social-list__link" target='_blank' href= google)
                  +icon('social_google', ['social-icon', 'social-icon_google'])
              li.social-list__item
                a(class="social-list__link" href= 'mailto:'+mail)
                  +icon('soc_email', ['social-icon', 'social-icon_email'])
      .profile__buttons
        .header__buttons-wrapper
          a(class="button-circle button-circle--home" href="/main")
            +icon('home', ['button-circle-icon', 'button-circle--home'])
            span.button-circle--text На главную
  .search-bar
    .search-bar__inner-wrapper
      form#search.search__form
        input.search__field(type="search" placeholder="Исследовать мир")
        +icon('search', ['search__icon'])