include ../mixins/_icons

.header__wrapper.header__wrapper--search
  .header__inner-wrapper.header__inner-wrapper--search
    .header__top.header__top--search
      .header__top-title--search Исследуй мир
      .profile__buttons
        .header__buttons-wrapper.header__buttons-wrapper--search
          a(class="button-circle button-circle--home" href="#")
            +icon('home', ['button-circle-icon', 'button-circle--home'])
            span.button-circle--text На главную
  .search-bar.search-bar--search
    .profile.profile--search
      .profile__photo.profile__photo--album
        img(class="profile__img" src="./assets/img/cherepov_anton.jpg" alt="Антон Черепов")
      .profile__info.profile__info--album
        h1.profile__name.profile__name--album.profile__name--search Антон Черепов
    form(id="search" class="search__form search__form--search")
      input(type="search" class="search__field search__field--search" placeholder="Исследовать мир")
      +icon('search', ['search__icon'])
      a.search__link(href='#') Показать новые