include ../mixins/_icons

.modal-overlay
  .modal
    .modal__header
      a(class="modal__close modal-action-close" href="#")
        +icon('close')
      .modal__title Добавить фотографии
    .modal__body
      form(action="/ajax/photo/add" method="POST")
        .add-photo
          .add-photo__header
            .add-photo__label Название
            .add-photo__title Как я провел лето
          .add-photo__area
            input(type="hidden" name='albomid' value=1)
            input.add-photo__file(type="file" id="files" multiple accept="image/*" )
            label.add-photo__area-label(for="files")
            .add-photo__info
              .add-photo__info-icon
                +icon('cam')
              .add-photo__info-text Перетащите фото сюда или
                span.choose  выберите файл
            .add-photo__images
              .modal__errors
        .modal__footer
          button.button.button--pointer(type='submit') Сохранить
          button.button.button--transparent.button--pointer(class='modal-action-close') Отменить
