.comments__row
  .comments__left
    .comments__photo
      img(class="comments__img" src=`${user.photo}` alt=`${user.name}`)
  .comments__right
    .comments__name #{user.name}
    .comments__text #{comment}