//- редактирование соц кнопок
form.social-edit(action='/ajax/user/social' method='post')
    input.social-edit__input(name= name value= value)
    button.button(type='submit') Сохранить
    button.button.button--transparent(type='reset') Отменить