.comments
  .comments__title Комментарии
    a(class="comments__open" href="#")
      +icon('comment')
  .comments__row
    .comments__left
      .comments__photo
        img(class="comments__img" src="./assets/img/cherepov_anton.jpg" alt="Антон Черепов")
    .comments__right
      .comments__name Антон Черепов
      input.modal__input(type="text" placeholder="Добавить комментарий")
      a(href="#" class="button button--outline") Добавить
  .comments__row
    .comments__left
      .comments__photo
        img(class="comments__img" src="./assets/img/vinogradov.png" alt="Антон Черепов")
    .comments__right
      .comments__name Виталий Виноградов
      .comments__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
  .comments__row
    .comments__left
      .comments__photo
        img(class="comments__img" src="./assets/img/avatar.jpg" alt="Антон Черепов")
    .comments__right
      .comments__name Татьяна Литвинова
      .comments__text Эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением.