.description
  .description__info
    .author
      .author__photo
        img(class="author__img" src="./assets/img/cherepov_anton.jpg" alt="Антон Черепов")
      .author__name Антон Черепов
    .likes
      a(class="button button--theme-secondary button--icon-like" href="#")
        +icon('like')
        span.button--icon-text 16

  .description__title Путешествие на речном трамвайчике
  .description__text Мы отправились в #[a(href="#").hash #путешествие] 2 дня назад, но уже сейчас такое ощущение, что мы посмотрели целый новый мир. Далее будет ещё одно описательное предложение. Возможно оно также будет с #[a(href="#").hash #тегами].