block password

h1.index-title.index-title--password Восстановление пароля
form.form-index.form-index--password
  .form-index__info
    .form-index__title.form-index__title--password Забыли пароль?
    .form-index__text.form-index__text--password Ничего страшного, введите свой e-mail, и мы вышлем вам инструкции по восстановлению пароля
  label.form-index__label.form-index__label--password
    input.form-index__input(name="mail" id="mail" placeholder="Электронная почта")
    +icon('envelope',['form-index__icon','form-index__icon-mail'])
  label.form-index__label.form-index__label--button
    input.button.button--full-width(name="button" type="submit" value="Восстановить пароль")
  .form-index__footer.form-index__footer--password
    span.form-index__text Вспомнили пароль?
    a.form-index__link(href="/#") Войти
