block password

h1.index-title Восстановление пароля
form.form-index
  .form-index__info
    .form-index__title Забыли пароль?
    .form-index__text Ничего страшного, введите свой e-mail, и мы вышлем вам инструкции по восстановлению пароля
  label.form-index__label
    +icon('envelope',['form-index__icon','form-index__icon-mail'])
    input.form-index__input(name="mail" id="mail" placeholder="Электронная почта")
  input.button.button--full-width(name="button" type="submit" value="Восстановить пароль")
  .form-index__footer
    span.form-index__text Вспомнили пароль?
    a.form-index__link(href="#") Войти
