block registration

h1.index-title.index-title--registration Регистрация
form.form-index.form-index--registration
  label.form-index__label
    input.form-index__input(name="name" id= "name" placeholder="Имя")
    +icon('name',['form-index__icon'])
  label.form-index__label
    input.form-index__input(name="mail" id="mail" placeholder="Электронная почта")
    +icon('envelope',['form-index__icon','form-index__icon-mail'])
  label.form-index__label
    input.form-index__input(name="password" id="password" placeholder="Пароль")
    +icon('password',['form-index__icon'])
  .form-index__text Ваши данные остаются строго конфеденциальны
  input.button.button--full-width(name="button" type="submit" value="Создать аккаунт")
  .form-index__footer
    span.form-index__text Уже зарегистрированы?
    a.form-index__link(href="/#") Войти

