.site-wrapper_index {
  background: url('../img/bg-index.jpg') center 0 no-repeat;
  background-size: cover;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

