.add-photo__info.add-photo__info--header
    .add-photo__info-icon
        +icon('cam')
    .add-photo__info-title Изменить фон
.header__buttons-down
    button.button.button--transparent.button--pointer(class='header-edit__cancel') Отменить
    button.button.button--pointer(type='submit') Сохранить
