section.my-albums
  .my-albums__inner-wrapper
    h2.section-title Мои альбомы
    a(class="button-circle button-circle--add" href="#")
      +icon('add', ['button-circle-icon', 'button-circle-icon--add'])
      span.button-circle--text Добавить

    .my-albums__list
      +my-albums-item("Поход в горы", "Фотографии природы леса, енотов и оленей...", "2", "Фотографии",  "#", "assets/img/my-album-cover.jpg", "#")
      +my-albums-item("Животные", "Фотографии природы леса, енотов и оленей...", "26", "Фотографий", "#", "assets/img/my-album-cover.jpg", "#")
      +my-albums-item("Прогулки на лодке", "Фотографии природы леса, енотов и оленей...", "1", "Фотография", "#", "assets/img/my-album-cover.jpg", "#")
      +my-albums-item("Море и серфинг", "Фотографии природы леса, енотов и оленей...", "12", "Фотографий", "#", "assets/img/my-album-cover.jpg", "#")
      +my-albums-item("Ущелье и горные хребты...", "Фотографии природы леса, енотов и оленей...", "7", "Фотографий", "#", "assets/img/my-album-cover.jpg", "#")
      +my-albums-item("Лесной выезд", "Фотографии природы леса, енотов и оленей...", "18", "Фотографий", "#", "assets/img/my-album-cover.jpg", "#")