section.photo-albums
  .photo-albums__inner-wrapper
    h2.section-title Новое в мире
    .photo-albums__list
      +photo-albums-item("Прогулки по воде", "assets/img/album-cover.jpg", "#",  "#", "Путешествие на лодке по озеру", "assets/img/avatar.jpg", "#",  "9", "15")
      +photo-albums-item("Палаточный лагерь", "assets/img/album-cover.jpg", "#", "#", "Отдых в палатке", "assets/img/avatar.jpg", "#",  "2", "22")
      +photo-albums-item("Животные", "assets/img/album-cover.jpg", "#", "#", "Любимые лошадки", "assets/img/avatar.jpg", "#",  "4", "32")
      +photo-albums-item("Пустыня", "assets/img/album-cover.jpg", "#", "#", "Мечтательный взгляд вдаль пове...", "assets/img/avatar.jpg", "#",  "9", "21")      
      +photo-albums-item("Отдых", "assets/img/album-cover.jpg", "#", "#", "Я лежу в гамаке, как это прекрас...", "assets/img/avatar.jpg", "#",  "9", "15")
      +photo-albums-item("Дорога", "assets/img/album-cover.jpg", "#", "#", "Велопутешествие", "assets/img/avatar.jpg", "#",  "9", "15")
    a(href="#" class="outline-button outline-button_show-more") Показать еще