section.recent-albums
  .recent-albums__inner-wrapper
    h2.recent-albums__title Новое в мире
    .recent-albums-items-wrapper
      +recent-albums-item("Прогулки по воде", "assets/img/album-cover.jpg", "#",  "#", "Путешествие на лодке по озеру", "assets/img/avatar.jpg", "#",  "9", "15")
      +recent-albums-item("Палаточный лагерь", "assets/img/album-cover.jpg", "#", "#", "Отдых в палатке", "assets/img/avatar.jpg", "#",  "2", "22")
      +recent-albums-item("Животные", "assets/img/album-cover.jpg", "#", "#", "Любимые лошадки", "assets/img/avatar.jpg", "#",  "4", "32")
      +recent-albums-item("Пустыня", "assets/img/album-cover.jpg", "#", "#", "Мечтательный взгляд вдаль пове...", "assets/img/avatar.jpg", "#",  "9", "21")      
      +recent-albums-item("Отдых", "assets/img/album-cover.jpg", "#", "#", "Я лежу в гамаке, как это прекрас...", "assets/img/avatar.jpg", "#",  "9", "15")
      +recent-albums-item("Дорога", "assets/img/album-cover.jpg", "#", "#", "Велопутешествие", "assets/img/avatar.jpg", "#",  "9", "15")
    a(href="#" class="outline-button outline-button_show-more") Показать еще