block login

h1.window__index-title Добро пожаловать
.window__index-text Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
form.form__index
    label.form__index-label
        +icon('envelope',['form__index-icon'])
        input.form__index-input(name="mail" id="mail" placeholder="Электронная почта")
    label.form__index-label
        +icon('password',['form__index-icon'])
        input.form__index-input(name="password" id="password" placeholder="Пароль")
    a.form__index-forget(href="#")
        span.form__index-forget_text Забыли пароль?
    .form__index-error
        span E-mail или пароль не верен
    input.form__index-button.button(name="button" type="submit" value="Войти")
    .form__index-question
        span.form__index-question_text Нет аккаунта?
        a.form__index-question_link(href="#") Зарегистрироваться


