block password

h1.window__index-title Восстановление пароля
form.form__index
    .form__index-info
        .form__index-title Забыли пароль?
        .form__index-text Ничего страшного, введите свой e-mail адрес, и мы вышлем вам инструкции по восстановлению пароля
    label.form__index-label
        +icon('envelope',['form__index-icon'])
        input.form__index-input(name="mail" id="mail" placeholder="Электронная почта")
    input.form__index-button.button(name="button" type="submit" value="Восстановить пароль")
    .form__index-question
        span.form__index-question_text Вспомнили пароль?
        a.form__index-question_link(href="#") Войти