footer.footer  
  .footer-inner-wrapper
    .footer-left-col
      p Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
    .footer-center-col
      a.to-top
        +icon('top', ['to-top-icon'])
    .footer-right-col
      p 2016 | Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool