block password

.window__password
    .password__info
        .password__title Забыли пароль?
        .password__text Ничего страшного, введите свой e-mail адрес, и мы вышлем вам инструкции по восстановлению пароля
    form.form.form__password(method='POST' action='/ajax/user/restorepassword')
        label.form__label
            +icon('envelope',['form__input-icon'])
            input.form__input(name="mail" id="mail" placeholder="Электронная почта")
        button.button.password__button
            span.button__text Восстановить пароль
    .account__question
        span.account__question-text Вспомнили пароль?
        a.account__question-link(href="#") Войти