.footer {
  color: $footer-text;
  font: 16px/1.5 'proxima_nova_ltlight', sans-serif;

  @include media($phones) {
    font-size: 14px;
    line-height: 21px;
    padding: 0 10px;
  }

  &-inner-wrapper {
    align-items: flex-start;
    background: url('../img/bg-profile.jpg') center bottom no-repeat;
    justify-content: space-between;
    position: relative;

    @include media-min($phones) {
      display: block;
      padding: 60px 14px 14px;
    }

    @include media-min($tablets) {
      display: flex;
      padding: 14px 22px;
    }

    @include media-min($laptop) {
      padding: 14px 61px;
    }

    &::before {
      background: $footer-bg;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
  }

  &-left-col {
    position: relative;

    @include media-min($phones) {
      margin-bottom: 10px;
      text-align: center;
    }

    @include media-min($tablets) {
      max-width: 480px;
      text-align: left;
    }
  }

  &-right-col {
    opacity: 0.4;
    position: relative;

    @include media-min($phones) {
      text-align: center;
    }

    @include media-min($tablets) {
      max-width: 480px;
      text-align: right;
    }
  }
}

.to-top {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s;

  @include media-min($phones) {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 26px;
  }

  @include media-min($tablets) {
    bottom: 0;
    position: relative;
    right: 0;
    top: 10px;
  }

  &-icon {
    fill: $footer-icon-top;
    height: 21px;
    width: 26px;
  }

  &:hover {
    opacity: 1;
  }
}
