.footer {
  font: 16px/1.5 'proxima_nova_ltlight', sans-serif;
  color: $footer-text;

  @include media($phones) {
    font-size: 14px;
    line-height: 21px;
    padding: 0 10px;
  }
  &-inner-wrapper {
    position: relative;
    background: url('../img/bg-profile.jpg') center bottom no-repeat;

    justify-content: space-between;
    align-items: flex-start;
    @include media_min($phones) {
      display: block;
      padding: 60px 14px 14px 14px;
    }
    @include media_min($tablets) {
      display: flex;
      padding: 14px 22px;
    }
    @include media_min($laptop) {
      padding: 14px 61px;
    }
    &::before {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: $footer-bg;
    }
  }
  &-left-col {
    position: relative;

    @include media_min($phones) {
      margin-bottom: 10px;
      text-align: center;
    }
    @include media_min($tablets) {
      max-width: 480px;
      text-align: left;
    }
  }
  &-right-col {
    position: relative;
    opacity: .4;

    @include media_min($phones) {
      text-align: center;
    }
    @include media_min($tablets) {
      max-width: 480px;
      text-align: right;
    }
  }
}

.to-top {
  cursor: pointer;
  transition: all .25s;
  opacity: .8;

  @include media_min($phones) {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    width: 26px;
    margin: auto;
  }
  @include media_min($tablets) {
    position: relative;
    top: 10px;
    right: 0;
    bottom: 0;
  }
  &-icon {
    width: 26px;
    height: 21px;

    fill: $footer-icon-top;
  }
  &:hover {
    opacity: 1;
  }
}
