.header__wrapper {
  animation: fadeIn 0.25s;
  background: url('../img/bg-profile.jpg') center 50% no-repeat;
  background-size: cover;
  opacity: 1;
  position: relative;

  &.wrapper-hide {
    animation: fadeOutHide 0.25s;
    animation-fill-mode: forwards;
    opacity: 1;
  }
}

.header__inner-wrapper {
  padding: 20px 40px 0 87px;
  position: relative;
  z-index: 9;

  &::before {
    background: linear-gradient(to right, $shapka-grad-left 0%, $shapka-grad-right 60%);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.8s;
    z-index: 0;
  }

  &::after {
    background: $shapka-grad-left;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.8s;
    z-index: 0;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  position: relative;
  z-index: 1;
}
// Profile
.profile {
  display: flex;
  padding-top: 37px;

  &__info {
    margin-left: 48px;
  }

  &__photo {
    animation: Right 1s;
    background: no-repeat 50% 50%;
    background-size: cover;
    border: 3px solid $shapka-avatar-border;
    border-radius: 50%;
    max-height: 124px;
    max-width: 124px;
    min-height: 124px;
    min-width: 124px;
    overflow: hidden;
    position: relative;
  }

  &__img {
    border-radius: 100%;
  }

  &__name {
    animation: Down 1s;
    color: $shapka-avatar-text;
    font: 21px/1 'pantonbold', sans-serif;
    margin: 0 0 8px;
  }

  &__description {
    animation: Up 1s -0.3s;
    color: $shapka-avatar-description;
    font: 16px/1.5 'proxima_nova_ltlight', sans-serif;
    margin-bottom: 26px;
    max-width: 450px;
  }
}

//Social icons
.social-list {
  animation: Up 1s;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;

    &:first-child {
      .social-icon {
        margin-left: 0;
      }
    }

  }

  &__link {
    cursor: pointer;
    display: block;
    transition: all 0.8s;

    &[href=""] {
      opacity: 0;
      transform: rotate3d(1, 0, 0, 90deg);
      width: 0;
    }

    &:hover {
      .social-icon {
        fill: $social-icon-hover;
      }
    }
  }

  .social-icon {
    fill: $social-icon;
    height: 20px;
    transition: all 0.2s;
    width: 20px;
    margin-left: 6px;
  }
}

// Контейнер для кнопок в хеддере
.profile__buttons {
  padding-right: 40px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;

  .button-circle {
    margin-bottom: 10px;
  }
}

.header__buttons-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.header__buttons-down {
  bottom: -50px;
  position: absolute;
  right: 0;
  transform: rotate3d(1, 0, 0, 90deg);
  transition: all 0.2s;
}

// Строка поиска
.search-bar {
  background-color: $search-plashka-bg;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  transition: all 0.3s;

  &__inner-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
  }
}

.search {
  &__form {
    animation: Left 1s;
    position: relative;
    width: 380px;
  }

  &__field {
    background-color: $search-bg;
    border: 0;
    border-radius: 24px;
    color: $search-active-text;
    font-family: 'proxima_nova_ltlight';
    font-size: 16px;
    padding: 11px 12px 11px 45px;
    width: 100%;
  }

  &__icon {
    color: $search-icon;
    fill: $search-icon;
    height: 15px;
    left: 20px;
    position: absolute;
    top: 12px;
    width: 15px;
  }
}

.wrapper-hide {
  position: absolute;
  width: 100vw;
  z-index: 0;
}
