.header__wrapper {
  background: url('../img/bg-profile.jpg') center 50% no-repeat;
  overflow: hidden;
}

.header__inner-wrapper {
  padding: 57px 40px 0 87px;
  position: relative;

  &::before {
    background: linear-gradient(to right, $shapka-grad-left 0%, $shapka-grad-right 60%);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  position: relative;
  z-index: 1;
}
// Profile
.profile {
  display: flex;

  &__info {
    margin-left: 48px;
  }

  &__photo {
    border: 3px solid $shapka-avatar-border;
    border-radius: 50%;
    max-height: 124px;
    max-width: 124px;
    min-height: 124px;
    min-width: 124px;
    overflow: hidden;
  }

  &__name {
    color: $shapka-avatar-text;
    font: 21px/1 'pantonbold', sans-serif;
    margin: 0 0 8px;
  }

  &__description {
    color: $shapka-avatar-description;
    font: 16px/1.5 'proxima_nova_ltlight', sans-serif;
    margin-bottom: 26px;
    max-width: 450px;
  }
}

//Social icons
.social-list {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin-left: 6px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    cursor: pointer;
    display: block;

    &:hover {
      .social-icon {
        fill: $social-icon-hover;
      }
    }
  }

  .social-icon {
    fill: $social-icon;
    height: 20px;
    transition: all 0.2s;
    width: 20px;
  }
}

// Контейнер для кнопок в хеддере
.profile__buttons {

  .button-circle {
    margin-bottom: 10px;
  }
}

.header__buttons-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: -37px;
}

.header__buttons-down {
  position: absolute;
  width: 250px;
  bottom: -50px;
  transform: rotate3d(1,0,0,90deg);
  transition: all 0.2s;
}
// Строка поиска
.search-bar {
  background-color: $search-plashka-bg;
  padding: 10px 0;
  position: relative;

  &__inner-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
  }
}

.search {
  &__form {
    position: relative;
    width: 380px;
  }

  &__field {
    background-color: $search-bg;
    border: 0;
    border-radius: 24px;
    color: $search-active-text;
    font-family: 'proxima_nova_ltlight';
    font-size: 16px;
    padding: 11px 12px 11px 45px;
    width: 100%;
  }

  &__icon {
    color: $search-icon;
    fill: $search-icon;
    height: 15px;
    left: 20px;
    position: absolute;
    top: 12px;
    width: 15px;
  }
}
