// Блок "Новое в мире"
.photo-albums {
  display: flex;

  justify-content: center;
  &__inner-wrapper {
    width: 100%;
    padding: 53px 0 60px;

    @include media_min($phones) {
      max-width: 300px;
    }
    @include media_min($tablets) {
      max-width: 700px;
    }
    @include media_min($laptop) {
      max-width: 1180px;
    }
    @include media_min($desktop) {
      max-width: 1580px;
    }
  }
  &__list {
    display: flex;
    margin: -10px -10px 14px;

    flex-wrap: wrap;
  }
}

// Альбом в блоке "Новое в мире"
.photo-albums__item {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 4px $photo-shadow;

  flex: 1 1 380px;
  @include media_min($phones) {
    max-width: 300px;
  }
  @include media_min($tablets) {
    max-width: 340px;
  }
  @include media_min($laptop) {
    max-width: 380px;
  }
  // Фотка альбома
  &-cover-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    &:hover {
      .photo-albums__item-spinner {
        visibility: visible;
        opacity: 1;
      }
      .icon {
        animation: fadeInScale .35s ease-in-out forwards;
        animation-delay: .1s;
      }
      .photo-albums__item-cover {
        transform: scale(1.25);
      }
    }
  }
  &-cover {
    transition: all .25s;
  }
  &-spinner-icon {
    width: 40px;
    height: 40px;
    transform: scale(0);

    fill: $photo-hover-icon;
  }
  &-spinner {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    content: '';
    cursor: pointer;
    transition: all .25s;
    opacity: 0;
    background-color: $photo-hover-bg;

    align-items: center;
    justify-content: center;
  }
  &-info-wrapper {
    display: flex;

    @include media_min($phones) {
      padding: 10px;
    }
    @include media_min($tablets) {
      padding: 19px 20px 20px;
    }
    flex: 1;
  }
  &-info {
    margin-left: 20px;
  }
  &-avatar-wrapper {
    position: relative;
    display: block;
    max-width: 50px;
    max-height: 50px;
    &:hover {
      .photo-albums__item-avatar-hover {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
  &-avatar-icon {
    width: 17px;
    height: 4px;

    fill: $photo-hover-icon;
  }
  &-avatar-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    content: '';
    cursor: pointer;
    transition: all .25s;
    opacity: 0;
    border-radius: 50%;
    background-color: $photo-avatar-hover-bg;

    align-items: center;
    justify-content: center;
  }
  &-title-img {
    margin: 0 0 16px;
    color: $photo-title-text;

    @include media_min($phones) {
      font: 14px/1 'proxima_nova_ltlight', sans-serif;
    }
    @include media_min($tablets) {
      font-size: 16px;
    }
  }
  &-meta {
    display: flex;
  }
  &-comments {
    display: flex;
    text-decoration: none;

    align-items: center;
    &:hover {
      .icon {
        fill: $photo-icon-comment-hover;
      }
    }
    &-number {
      font: 16px/1 'pantonbold', sans-serif;
      margin-left: 11px;
      color: $photo-album-title;
    }
  }
  &-likes {
    display: flex;
    margin-left: 17px;
    text-decoration: none;

    align-items: center;
    &:hover {
      .icon {
        fill: $photo-icon-like-hover;
      }
    }
    &-number {
      font: 16px/1 'pantonbold', sans-serif;
      margin-left: 11px;
      color: $photo-album-title;
    }
  }
  // Иконки
  &-icon {
    transition: fill .25s;

    fill: $photo-icon;
    &_comments {
      width: 20px;
      height: 17px;
    }
    &_likes {
      width: 20px;
      height: 16px;
    }
    &_album {
      min-width: 20px;
      max-width: 20px;
      min-height: 18px;
      max-height: 18px;
    }
  }
  // Футер (обертка, название альбома, иконка)
  &-footer {
    padding: 13px 20px 10px;
    background-color: $photo-album-bg;
  }
  &-link {
    display: flex;
    text-decoration: none;

    align-items: center;
    justify-content: flex-end;
    &:hover {
      .icon {
        fill: $photo-icon-title-hover;
      }
    }
  }
  &-title {
    margin: 0 0 0 9px;
    color: $photo-album-title;

    @include media_min($phones) {
      font: 14px/1 'proxima_nova_ltsemibold', sans-serif;
    }
    @include media_min($tablets) {
      font-size: 16px;
    }
  }
}

.button--outline-albums {
  display: block;
  max-width: 128px;
  margin: 0 auto;
}
