// Ховер на альбоме
@keyframes fadeInScale {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes Right {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes Left {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes Up {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes Down {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}
