html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

input {
  outline: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

// Sticky footer
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrap {
  flex: 1;
}
// Sticky footer end

.section-title {
  @include media-min($phones) {
    font: 30px/1 'pantonbold', sans-serif;
    margin: 0 0 15px;
    text-align: center;
  }

  @include media-min($tablets) {
    font-size: 42px;
    margin: 0 0 34px;
    text-align: left;
  }
}
