html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

input {
  outline: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.header {
  z-index: 100;
}

// Sticky footer
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrap {
  flex: 1;

  &::before {
    background: rgba($photo-hover-icon, 0.6);
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.8s;
    z-index: 99;
  }
}
// Sticky footer end

.section-title {
  @include media-min($phones) {
    font: 30px/1 'pantonbold', sans-serif;
    margin: 0 0 15px;
    text-align: center;
  }

  @include media-min($tablets) {
    font-size: 42px;
    margin: 0 0 34px;
    text-align: left;
  }
}

.section-title--search {
  font: 21px/1 'pantonbold', sans-serif;
}

.links {
  margin-right: 20px;
}

[contenteditable] {
  background: $onform-header-text;
  border-radius: 8px;
<<<<<<< HEAD
  color: $form-header-text !important;
=======
  // color: $form-header-text !important;
>>>>>>> origin/master
  padding: 8px;
}

.hashtag {
  color: $slider-hash-text;
}
