.index-title {
  font-family: 'pantonbold';
  font-size: 42px;
  margin: 10px 0;
  transition: all .35s ease .35s;
  text-align: center;
  opacity: 1;
  color: $onform-header-text;

  @include media($phones) {
    font-size: 30px;
  }
}

.index-description {
  font-family: 'proxima_nova_ltlight';
  font-size: 16px;
  line-height: 1.5;
  max-width: 550px;
  margin-bottom: 5px;
  transition: all .35s ease .35s;
  text-align: center;
  opacity: 1;
  color: $onform-header-text;

  @include media($phones) {
    font-size: 14px;
    line-height: 21px;
    padding: 0 20px;
  }
}

.form-index {
  width: 280px;
  margin: 30px;
  transition: all .35s ease .35s;
  transform: rotate3d(0, 1, 0, 0deg);
  border-radius: 20px;
  background-color: $form-bg;
}

.form-index__label {
  display: block;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid $input-border;
}

.form-index__label--button {
  padding: 9px 20px 0;
  border: 0;
}

.form-index__input {
  font-family: 'proxima_nova_ltlight';
  font-size: 16px;
  width: 80%;
  vertical-align: bottom;
  color: $input-text;
  border: 0;
    @include media($phones) {
      font-size: 14px;
      margin-bottom: -2px;
    }
}

.form-index__icon {
  float: left;
  width: 9%;
  height: 18px;
  margin: 1px 5px 0 7px;
  opacity: .6;

  fill: $input-icon;
}

.form-index__icon-mail {
  height: 14px;
  margin: 4px 6px 0;
}

.form-index__input:focus {
  transition: all .35s ease .1s;
  color: $input-active-text;
  ~ .form-index__icon {
    transition: all .35s ease .1s;

    fill: $input-icon-active;
  }
}

.form-index__link {
  font-family: 'proxima_nova_ltsemibold';
  font-size: 14px;
  display: inline-block;
  margin: 7px 0 7px 16px;
  text-decoration: none;
  color: $form-link-text;
  &:hover {
    text-decoration: underline;
  }
}

.form-index__error {
  font-family: 'proxima_nova_ltsemibold';
  font-size: 14px;
  display: none;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  color: $error-text;
  background-color: $error-bg;
}

.form-index__footer {
  display: inline-block;
  width: 100%;
  .form-index__link {
    margin: 5px 5px 17px;
  }
}

.form-index__text {
  font-family: 'proxima_nova_ltlight';
  font-size: 14px;
  padding-left: 26px;
}
