.content__index--password {
  transition: all 0.35s ease;
  z-index: 0;
}

.index-title--password {
  margin: 28px 0;
  opacity: 0;
  transition: all 0.35s ease;
}

.form-index--password {
  margin: 0;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: all 0.35s ease;
}

.form-index__title--password {
  padding: 20px 20px 13px;
}

.form-index__text--password {
  margin: 0 0 12px;
  padding: 0 25px 0 20px;
}

.form-index__label--password {
  border-top: 1px solid $input-border;
}

.form-index__footer--password {
  .form-index__text {
    margin: 2px 0 12px;
    padding: 10px 0 5px 55px;
  }
}

.form-index__title {
  font-family: 'proxima_nova_ltsemibold';
  font-size: 14px;
  padding: 20px 20px 10px;
}

.form-index__label--button-password {
  padding: 20px 20px 2px;
}
