.content__index-password {
  display: none;

  .index-title {
    margin: 28px 0;
  }

  .form-index__title {
    padding: 20px 20px 13px;
  }

  .form-index__text {
    margin: 0 0 15px;
    padding: 0 25px 0 20px;
  }

  .form-index__label{
    border-top: 1px solid $input-border;
  }

  .button {
    margin: 15px auto;
  }

  .form-index__footer {
    .form-index__text {
      padding: 10px 0 5px 50px;
      margin: 2px 0 12px;
    }
  }
}

.form-index__title {
  font-size: 14px;
  font-family: 'proxima_nova_ltsemibold';
  padding: 20px 20px 10px
}