.content__index-registration {
  display: none;
  .index-title {
    margin: 31px 0;;
  }

  .form-index__icon {
    width: 11%;
    height: 16px;
  }

  .form-index__icon-mail {
    height: 14px;
  }
}

.form-index__text {
  font-family: 'proxima_nova_ltlight';
  font-size: 14px;
  margin: 8px 0 15px 0;
}

