.content__index--registration {
  transition: all 0.35s ease;
  z-index: 0;
}

.form-index--registration {
  margin: 25px;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: all 0.35s ease;
}

.index-title--registration {
  opacity: 0;
  transition: all 0.35s ease;
}

.form-index__text {
  font-family: 'proxima_nova_ltlight';
  font-size: 14px;
  margin: 8px 0 15px;
}

