extends ../_template

block variables
  - var title = 'Альбом'
  - var descrption = 'Альбом'
  - var page_type = 'album'
  - var description = 'Страница содержания альбома пользователя'
  - var keywords = 'Страница содержания альбома пользователя'

block content