extends ../_template

block variables
  - var title = 'Home page'
  - var descrption = 'Home page'
  - var page_type = 'index'
  - var description = 'Стартовая страница общего проекта'
  - var keywords = 'Стартовая страница общего проекта'

block content
  .wrapper
    .content
      .content__index.content__index-login
        include ../common/authorization/_login
      .content__index.content__index-registration
        include ../common/authorization/_registration
      .content__index.content__index-password
        include ../common/authorization/_password