extends ../_template_index

block variables
  - var title = 'Home page'
  - var descrption = 'Home page'
  - var description = 'Стартовая страница общего проекта'
  - var keywords = 'Стартовая страница общего проекта'

block content
  .content__window
    block login
      include ../common/login.pug
    block registration
      include ../common/registration.pug
    block password
      include ../common/password.pug