extends ../_template

block variables
  - var title = 'Главная'
  - var descrption = 'Главная'
  - var page_type = 'index'
  - var description = 'Страница последних добавленных фото и альбомов пользователя'
  - var keywords = 'Страница последних добавленных фото и альбомов пользователя'  

block content
  include ../common/_header
