
.add-photo__file {
  display: none;
}

.add-photo {
  padding: 0 20px;

  &__header {
    padding: 40px 0;
  }

  &__label {
    color: $modal-add-label-text;
    display: inline-block;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    font-size: 16px;
    line-height: 1.313;
  }

  &__title {
    color: $modal-add-title-text;
    display: inline-block;
    font-family: 'proxima_nova_ltlight', sans-serif;
    font-size: 16px;
    line-height: 1.313;
    margin-left: 18px;
  }

  &__area {
    background-color: $modal-add-area-bg;
    border: 3px dashed $modal-add-area-border;
    border-radius: 15px;
    display: flex;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 50px;
    position: relative;
    transition: all 0.2s linear;

    &-label {
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &--dropenter {
      background-color: $modal-upload-bg;
      border-color: $modal-upload-border;
    }
  }

  &__info {
    margin: auto;
    max-width: 200px;
    padding-top: 30px;
    text-align: center;

    &-icon {
      margin-bottom: 20px;

      .icon-cam {
        fill: $modal-add-area-icon;
        height: 32px;
        width: 40px;
      }
    }


    &-text {
      color: $modal-add-area-text;
      font-family: 'proxima_nova_ltlight', sans-serif;
      font-size: 16px;
      line-height: 1.313;

      .choose {
        color: $modal-add-area-choose-text;
        font-family: 'proxima_nova_ltsemibold', sans-serif;
      }
    }
  }

  &__big-images--show {
    display: flex;
  }

  &__big-images-wrapper {
    display: none;
    flex-wrap: wrap;

    .add-photo__header {
      margin-bottom: 40px;
      padding: 0;
    }
  }

  &__big-images {
    display: flex;
    flex-wrap: wrap;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 25%;
    padding-bottom: 20px;
    padding-right: 20px;
    position: relative;
  }

  &__item-image {
    height: 100%;
    min-width: 100px;
    width: 100%;
  }

  &__image {
    border-radius: 3px;
    height: auto;
    width: 100%;
  }

  &__item-close {
    position: absolute;
    right: 8px;
    top: -14px;
  }

  &__info-title {
    color: $btn-circle-icon;
  }

}
