
// Общие стили модальных окон

.modal-show {
  height: 100vh;
  overflow: hidden;
}

.modal-overlay {
  background-color: $modal-overlay;
  display: none;
  height: 100vh;
  left: 0;
  overflow: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.modal {
  background-color: $modal-bg;
  margin: auto;
  max-width: 678px;
  position: relative;
  width: 60%;

  &__header {
    background-color: $modal-header-bg;
    color: $modal-header-text;
    font-family: 'pantonbold', sans-serif;
    font-size: 21px;
    line-height: 1;
    padding: 20px;
  }

  &__close {
    float: right;
    text-decoration: none;

    .icon-close {
      fill: $modal-close-icon;
      height: 22px;
      width: 22px;

      &:hover {
        fill: $modal-close-icon-hover;
      }
    }

  }

  &__body {
    background-color: $modal-bg;
  }

  &__row {
    display: flex;
    margin-bottom: 20px;
  }

  &--stretch {
    flex: 1;
  }

  &__label {
    color: $modal-edit-label-text;
    display: inline-block;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    font-size: 16px;
    line-height: 1.313;
    margin-right: 20px;
    min-width: 100px;
    padding-top: 11px;
    text-align: right;
    vertical-align: top;
  }

  %modal__input-placeholder {
    background-color: $modal-bg;
    border: 1px solid $modal-edit-input-border;
    border-radius: 20px;
    color: $modal-edit-input-text;
    font-family: 'proxima_nova_ltlight', sans-serif;
    font-size: 16px;
    line-height: 1.313;
    padding: 10px 20px;

    &:focus {
      border: 1px solid $modal-edit-input-active-border;
      color: $modal-edit-input-active-text;
    }
  }

  &__input {
    @extend %modal__input-placeholder;
  }

  &__textarea {
    @extend %modal__input-placeholder;

    min-height: 120px;
    outline: 0;

  }

  &__footer {
    background-color: $modal-bottom-bg;
    padding: 14px 28px;
  }

  &__errors {
    margin: 40px 0;
  }

  &__error-item {
    margin: 5px 0;
  }

  &__error-message {
    background-color: $modal-error-bg;
    color: $modal-error-text;
    display: inline-block;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    font-size: 14px;
    line-height: 1.143;
    padding: 10px;
  }

  &__btn-save {
    background-color: $btn-save-bg;
    border: 0;
    border-radius: 40px;
    color: $btn-save-text;
    cursor: pointer;
    display: inline-block;
    font-family: 'pantonbold', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    outline: 0;
    padding: 12px 20px;
    text-align: center;
  }

  &__btn-cancel {
    background-color: transparent;
    border: 0;
    color: $btn-cancel-text;
    cursor: pointer;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    outline: 0;
    padding: 12px 20px;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  //модуль загрузки обложки
  &-cover {
    align-items: center;
    display: flex;

    &__thumb {
      display: inline-block;
      margin-right: 20px;
      min-width: 100px;
      text-align: right;

      &-wrapper {
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        overflow: hidden;
        width: 50px;
      }
    }

    &__file {
      left: -9999px;
      position: absolute;
    }

    &__btn {
      margin-right: 20px;
    }

    &__file-info {
      color: $modal-img-info-text;
      font-family: "proxima_novalight_italic",sans-serif;
      font-size: 14px;
      line-height: 1;
      max-width: 200px;
    }

    &__file-size {
      font-weight: 600;
    }

  }
}
