
// Общие стили модальных окон

.modal-show,
.popup-show {
  overflow: hidden;
  height: 100vh;
}

.modal-overlay,
.popup-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: auto;
  height: 100vh;
  animation: modalShow .25s linear;
  background-color: $modal-overlay;

  @include media_min($phones) {
    padding: 10px;
  }
  @include media_min($tablets) {
    padding: 30px;
  }
}

@keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: relative;
  max-width: 678px;
  margin: auto;
  background-color: $modal-bg;

  @include media_min($phones) {
    width: 100%;
  }
  @include media_min($tablets) {
    width: 80%;
  }
  &__header {
    font-family: 'pantonbold', sans-serif;
    font-size: 21px;
    line-height: 1;
    padding: 20px;
    color: $modal-header-text;
    background-color: $modal-header-bg;
  }
  &__close {
    float: right;
    text-decoration: none;
    .icon-close {
      width: 22px;
      height: 22px;
      transition: fill .2s linear;

      fill: $modal-close-icon;
      &:hover {
        fill: $modal-close-icon-hover;
      }
    }
  }
  &__body {
    background-color: $modal-bg;
  }
  &__row {
    display: flex;
    margin-bottom: 20px;
  }
  &--stretch {
    flex: 1;
  }
  &__label {
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    font-size: 16px;
    line-height: 1.313;
    display: inline-block;
    min-width: 100px;
    margin-right: 20px;
    padding-top: 11px;
    text-align: right;
    vertical-align: top;
    color: $modal-edit-label-text;
  }
  %modal-input-placeholder {
    font-family: 'proxima_nova_ltlight', sans-serif;
    font-size: 16px;
    line-height: 1.313;
    padding: 10px 20px;
    color: $modal-edit-input-text;
    border: 1px solid $modal-edit-input-border;
    border-radius: 20px;
    background-color: $modal-bg;
    &:focus {
      color: $modal-edit-input-active-text;
      border: 1px solid $modal-edit-input-active-border;
    }
  }
  &__input {
    @extend %modal-input-placeholder;
  }
  &__textarea {
    min-height: 120px;
    outline: 0;

    @extend %modal-input-placeholder;
  }
  &__footer {
    padding: 14px 28px;
    background-color: $modal-bottom-bg;
  }
  &__errors {
    margin: 40px 0;
  }
  &__error-item {
    margin: 5px 0;
  }
  &__error-message {
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    font-size: 14px;
    line-height: 1.143;
    display: inline-block;
    padding: 10px;
    color: $modal-error-text;
    background-color: $modal-error-bg;
  }
  //модуль загрузки обложки
  &-cover {
    display: flex;

    align-items: center;
    &__thumb {
      display: inline-block;
      min-width: 100px;
      margin-right: 20px;
      transition: all .25s;
      text-align: right;
      opacity: 0;
      &-wrapper {
        display: inline-block;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      &--active {
        opacity: 1;
      }
    }
    &__file {
      position: absolute;
      left: -9999px;
    }
    &__btn {
      margin-right: 20px;
    }
    &__file-info {
      font-family: 'proxima_novalight_italic',sans-serif;
      font-size: 14px;
      line-height: 1;
      max-width: 200px;
      color: $modal-img-info-text;
    }
    &__file-size {
      font-weight: 600;
    }
  }
}
