
// Общие стили модальных окон

.modal-show {
  height: 100vh;
  overflow: hidden;
}

.modal-overlay {
  background-color: $modal-overlay;
  display: none;
  height: 100vh;
  left: 0;
  overflow: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.modal {
  background-color: $modal-bg;
  margin: auto;
  max-width: 678px;
  position: relative;
  width: 60%;

  &__header {
    background-color: $modal-header-bg;
    color: $modal-header-text;
    font-family: 'pantonbold', sans-serif;
    font-size: 21px;
    line-height: 1;
    padding: 20px;
  }

  &__close {
    float: right;
    text-decoration: none;

    .icon-close {
      fill: $modal-close-icon;
      height: 22px;
      width: 22px;

      &:hover {
        fill: $modal-close-icon-hover;
      }
    }

  }

  &__body {
    background-color: $modal-bg;
  }

  &__footer {
    background-color: $modal-bottom-bg;
    padding: 14px 28px;
  }

  &__error {
    margin: 20px 0;
  }
}

.error-message {
  background-color: $modal-error-bg;
  color: $modal-error-text;
  display: inline-block;
  font-family: 'proxima_nova_ltsemibold', sans-serif;
  font-size: 14px;
  line-height: 1.143;
  padding: 10px;
}

.modal-btn-save {
  background-color: $btn-save-bg;
  border: 0;
  border-radius: 40px;
  color: $btn-save-text;
  cursor: pointer;
  display: inline-block;
  font-family: 'pantonbold', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  outline: 0;
  padding: 12px 20px;
  text-align: center;
}

.modal-btn-cancel {
  background-color: transparent;
  border: 0;
  color: $btn-cancel-text;
  cursor: pointer;
  font-family: 'proxima_nova_ltsemibold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  outline: 0;
  padding: 12px 20px;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}
